
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', sans-serif;
  
   color: rgb(12, 0, 10);
 }
 
 .crypto-app {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 50px;
   color: #fff;
   background-color:rgb(48, 152, 184);
 }
 
 .coin-search {
   margin-bottom: 64px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   padding-bottom: 50px;
   
 }
 
 .coin-text {
   
   display: inline-block;
   align-content: center;
   justify-content: center;
   color: #4801ff;
   margin-top: 40px;
   margin-right: -298px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-bottom:20px;
   

  
   

 }
 
 .coin input {
   margin-top:120px;
   padding-left: 16px;
   width: 300px;
   height: 50px;
   border-radius: 10px;
   border: none;
   background-image: linear-gradient(
     -225deg,
     #ac32e4 0%,
     #7918f2 48%,
     #4801ff 100%
   );
 
   color: #e2e2e2;
 }
 
 .coin-input::placeholder {
   color: #e2e2e2;
 }